@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: gray; }
.capitalize { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: .5s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1400px;
  width: 75.50%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.container { background-color: #1F1F1F; }

.header-top .wrapper {
  padding: 32px 0;
  border-bottom: 1px solid #292929;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ham { display: none; }

h1 a {
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  transition: .5s all ease;
}

h1, 
nav {  flex-basis: 43%; }

nav ul {
  display: flex;
  flex-direction: row;
}

nav li {  margin-right: auto; } 
nav li:last-child {  margin-right: 0; }

nav li a{
  padding: 10px 0;
  color: #a6a6a6;
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 2px;
}

nav .active,
nav li a:hover {  border-bottom: 3px solid #8FD0A6; }
/* header bottom style starts here */
.header-bottom ul {
  width: calc(51% - 5px);
  padding: 22px 0;
  display: flex;
}

.header-bottom li {  margin-right: auto; }
.header-bottom li:last-child { margin-right: 0; }

.header-bottom li a {
  padding: 5px 10px;
  color: #fff;
  font-size: 12px;
  transition: .5s background-color ease;
}

.header-bottom .active,
.header-bottom li a:hover {  background-color: #8FD0A6; }
/* header bottom style ends here */
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* gallery styles starts here */
.gallery ul {
  display: flex;
  flex-wrap: wrap;
}

.gallery .wrapper { 
  padding-bottom: 34px;
  border-bottom: 1px solid #292929; 
}

.overlay {
  width: 100%;
  padding: 54px 0;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #8FD0A6;
  text-align: center;
  transform: translate(-50%, -50%);
  transition: .5s all ease;
}

.gallery li { 
  flex-basis: 25%;
  position: relative; 
}

.gallery li:hover .overlay {
  display: block;
  cursor: pointer;
}

h2 {
  padding-bottom: 3px;
  color: #fff;
  font-size: 16px;
}

.overlay span {
  padding-bottom: 15px;
  display: block;
  color: #fff;
  font-size: 10px;
}

.search,
.note { text-indent: -99999px; }

.search::before,
.note::before {
  content: "\f002";
  padding: 10px;
  float: right;
  background-color: #fff;
  color: #8FD0A6;
  font-family: fontAwesome;
  text-indent: 0;
}

.note::before {  content: "\f24a"; } 
/* gallery styles ends here */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
/* footer-top styles starts */
.footer-top {  padding-top: 30px; }

.footer-top .wrapper {  
  padding-bottom: 5px;
  border-bottom: 1px solid #292929;
  display: flex; 
}

.widgets,
.posts,
.tags,
.flickr { 
  margin-right: auto;
  flex-basis: 22%;
}

.flickr { margin-right: 0; }

h3 {
  padding-bottom: 16px;
  color: #fff;
  font-size: 15px;
}

.widgets p {
  margin-bottom: 10px;
  color: #7b7b7b;
  font-size: 11px;
  line-height: 15px;
  word-spacing: 2px;
}

.posts ul{
  display: flex;
  flex-direction: column;
}

.posts li {  border-bottom: 1px solid #292929; }
.posts li:last-child { border-bottom: none; }

.posts li a {
  margin: 10px 0;
  color: #7b7b7b;
  font-size: 11px;
  transition: .5s color ease;
}

.posts li:nth-child(1) a { margin-top: 0; }
.posts li a:hover { color: #8FD0A6; } 
.tags li { margin-bottom: 5px; }

.tags li a{
  color: #fff;
  font-size: 11px;
  background-color: #8FD0A6;
  padding: 5px 10px;
  transition: .5s color ease;
}

.tags .active,
.tags li a:hover { background-color: #C1C1C1; }

.flickr ul { 
  display: flex;
  flex-wrap: wrap;
}

.flickr li {  
  flex-basis: 22%;
  margin-right: auto;
  margin-bottom: 10px;
}

.flickr li:nth-child(4),
.flickr li:nth-child(8) { margin-right: 0; }
/* footer-top styles ends */
/* footer-bottom styles starts */
.footer-bottom .wrapper { 
  padding: 18px 0;
  display: flex;
  justify-content: space-between;
}

.social { 
  display: flex;
  flex-basis: 19%;
}

.social li { 
  margin-right: 3%;
  flex-basis: 5%;
}

.social li:last-child { margin-right: 0;}

.footer-bottom span {
  color: #7b7b7b;
  font-size: 12px;
}

.twitter,
.pinterest,
.facebook,
.dribble,
.google-plus,
.linked { text-indent: -9999px; }

.twitter::before,
.facebook::before,
.dribble::before,
.pinterest::before,
.linked::before,
.google-plus::before{
  content: "\f099";
  padding: 6px;
  border-radius: 50%;
  float: right;
  background-color: #F3F3F3;
  color: #7b7b7b;
  font-family: fontAwesome;
  font-size: 10px;
  text-indent: 0;
  transition: .5s color ease, .5s background-color ease;
}

.facebook::before { content: "\f09a"; }
.google-plus::before { content: "\f0d5"; }
.linked::before { content: "\f0e1"; }
.dribble::before {  content: "\f17d"; }
.pinterest::before { content: "\f0d2"; }

.twitter:hover::before,
.facebook:hover::before,
.google-plus:hover::before,
.linked:hover::before,
.dribble:hover::before,
.pinterest:hover::before { 
  background-color: #7b7b7b;
  color:#F3F3F3; 
}
/* footer-bottom styles ends */
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  /* Header styling starts here */
  .wrapper { width: 90%; }
  .header-top .wrapper { padding: 32px 0; }

  h1 a {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    transition: .5s all ease;
  }

  .ham {
    width: 35px;
    height: 100%;
    float: right;
    position: relative;
    display: block;
  }
  
  .ham span {
    width: 35px;
    height: 4px;
    margin: 5px 0;
    display: block;
    background: #000;
    text-indent: -99999px;
    transition:  0.5s ease;
  }
   
  nav:hover ul{
    width: 100%;
    display: block;
    float: none;
    position: absolute; 
    z-index: 2;
    top: 65px;
    right: 0;
    left: 0;
    background-color: #1F1F1F;
    text-align: center;
  }
  
  nav {  flex-basis: 0; }
  nav ul { display: none;  }

  nav li { 
    margin-right: 0;
    display: block; 
    margin-bottom: 10px;
  } 

  nav li a{ font-size: 15px; }

  nav .active,
  nav li a:hover {  border-bottom: none; }
  /* header bottom style starts here */
  .header-bottom ul {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
  }

  .header-bottom li a {
    padding: 0;
    font-size: 15px;
  }

  .header-bottom .active,
  .header-bottom li a:hover {  background-color: #1F1F1F; }
  /* Header bottom style ends here */
  /* Header styling ends here */  

  /*  main styling starts here  */
  /* gallery styles starts here */
  .gallery ul { justify-content: space-between;}

  .gallery li { 
    margin-bottom: 20px;
    flex-basis: 48%; 
  }

  .gallery li:hover .overlay {
    display: none;
    cursor: inherit;
  }
  /* gallery styles ends here */
  /* footer-top styles starts */
  .footer-top {  padding-top: 40px; }

  .footer-top .wrapper {  
    padding-bottom: 10px;
    flex-wrap: wrap;
  }

  .widgets,
  .posts,
  .tags,
  .flickr { 
    margin-right: auto;
    flex-basis: 46%;
  }

  h3 {  font-size: 18px; }
  .widgets p { font-size: 14px; }

  .posts ul{
    display: flex;
    flex-direction: column;
  }

  .posts li {  border-bottom: 1px solid #292929; }
  .posts li:last-child { border-bottom: none; }
  .posts li a {  font-size: 14px; }
  .posts li a:hover { color: #7b7b7b; } 
  .tags li a{ font-size: 14px;}
  .tags .active,
  .tags li a:hover { background-color: #8FD0A6; }
  /* footer-top styles ends */
  /* footer-bottom styles starts */
  .footer-bottom .wrapper { padding: 20px 0; }
  .social { flex-basis: 30%; }

  .social li { 
    margin-right: 5%;
    flex-basis: 10%;
  }

  .footer-bottom span { font-size: 14px; }

  .twitter::before,
  .facebook::before,
  .dribble::before,
  .pinterest::before,
  .linked::before,
  .google-plus::before{ font-size: 14px;}

  .twitter:hover::before,
  .facebook:hover::before,
  .google-plus:hover::before,
  .linked:hover::before,
  .dribble:hover::before,
  .pinterest:hover::before { 
    background-color: #F3F3F3;
    color:#7b7b7b; 
  }
  /* footer-bottom styles ends */

}  
/*media query for 995px ends here*/
/*media query for 768px starts here*/
@media only screen and (max-width: 767px) {
   /* Header styling starts here */
   .wrapper { width: 95%; }
   h1 a {  font-size: 30px; }
   nav {  flex-basis: 0; }
   nav ul { display: none;  }
   /* header bottom style starts here */
   .header-bottom ul {  width: 90%; }
   .header-bottom li a {  font-size: 17px; }
 /* Header bottom style ends here */
   /* Header styling ends here */  
   /*  main styling starts here  */
   /* gallery styles starts here */
   .gallery li { 
      flex-basis: 90%; 
      margin: 0 auto;
      margin-bottom: 20px;
   }
   /* gallery styles ends here */
   /* footer-top styles starts */
   .footer-top {  padding-top: 40px; }
 
   .footer-top .wrapper {  
     padding-bottom: 10px;
     flex-wrap: wrap;
   }
 
   .widgets,
   .posts,
   .tags,
   .flickr { 
     margin-right: auto;
     text-align: center;
     flex-basis: 90%;
     margin: 10px auto;
   }
 
   h3 {  font-size: 20px; }
   .widgets p { font-size: 15px; }
   .posts li a {  font-size: 15px; }
   .tags li a{ font-size: 15px;}
   /* footer-top styles ends */
   /* footer-bottom styles starts */
   .footer-bottom .wrapper { padding: 20px 0; }
   .social { flex-basis: 60%; }
   .social li {     text-align: center; }
   .footer-bottom span { font-size: 15px; }
 
   .twitter::before,
   .facebook::before,
   .dribble::before,
   .pinterest::before,
   .linked::before,
   .google-plus::before{ font-size: 16px;}
   /* footer-bottom styles ends */
}  
/*media query for 768px ends here*/
